* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media print {
  body * {
    visibility: hidden;
  }
  [data-print-area],
  [data-print-area] * {
    visibility: visible;
  }
  [data-print-area] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
